{% extends "rdef_web/base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <script>
      window.setTimeout(function(){location.href = "{{ index.html }}";;}, 30000);
    </script>

    <style>
      .server-status-card-widee.mdl-card {
        width: 300px;
      }
      .logo-card {
        background: url('/static/images/transparent_shield_logo.png') center / cover;
      }
      
    </style>
    {% if msg == 'UP'%}
      <style>
        .server-status-card-wide > .mdl-card__title {
          color: #fff;
          height: 400px;
          background-color: rgb(76,175,80);
      }
      </style>
    {% else %}
      <style>
        .server-status-card-wide > .mdl-card__title {
          color: #fff;
          height: 400px;
          background-color: grey;
        }
      </style>
    {% endif %}
    <style>
      .server-status-card-wide > .mdl-card__menu {
        color: #fff;
      }
    </style>
    <div class="mdl-grid">
        <div class="server-status-card-wide mdl-card mdl-cell mdl-cell--4-col mdl-shadow--3dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
              {% if msg == 'UP' %}
                Proxy Server Up
              {% else %}
                Proxy Server Down
              {% endif %}
            </h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <form id="server_action" method="post" action="{% url 'index' %}">
              {% csrf_token %}
              {% if msg == 'UP' %}
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="turn_off" value="turn_off">
                  Turn off
                </button>
              {% else %}
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="turn_on" value="turn_on">
                  Turn On
                </button>
              {% endif %}
            </form>
          </div>
          <div class="mdl-card__menu">
            {% if msg == 'UP' %}
              <i class="material-icons">check_circle</i>
            {% else %}
              <i class="material-icons">highlight_off</i>
            {% endif %}
          </div>
        </div>
      <div class="logo-card mdl-card mdl-cell mdl-cell--4-col mdl-shadow--3dp">
        
      </div>
      <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--3dp">
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  To activate the proxy server press TURN ON button, if the server started successfully the server status card background will turn green after page refresh
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  When the proxy is up there is systray icon active, you can edit your preferences by clicking it with the right mouse button
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  To view and edit tables go to Tables > table, you can view all urls, view and edit the whitelist and the blacklist
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  To view the graphs go to Charts, there are 3 graphs for each table - by protocol, by date and by time
                </span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  {% else %}
    <style>
      .no-login-card-wide.mdl-card {
        height: 20px;
        width: 100%;
        background-color: white;
        text-align: center;
        color: grey;
      }
    </style>
    <div class="mdl-grid" style="align-items:center; justify-content: center; padding:24px; flex: none;">
      <div class="mdl-cell--4-col">
        <div class="no-login-card-wide mdl-card mdl-shadow--3dp">
          <h2>You have to login</h2>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}